<!DOCTYPE html>
<html ng-app="kits">
	<head>
		<title>kits</title>

		<!-- bower:css -->
  		<!-- endinject -->
</head>

	<body ng-controller="AppController as ctrl">
		
		<md-nav-bar md-no-ink-bar="disableInkBar" 
			md-selected-nav-item="currentNavItem" 
			nav-bar-aria-label="navigation links"
			ng-show="isAuthenticated()">
      
      	  <md-nav-item md-nav-click="ctrl.goto('/#!/report')" name="report">
      	  	Report
      	  </md-nav-item>
          <md-nav-item md-nav-click="ctrl.goto('page2')" name="page2">
          	Page Two
          </md-nav-item>
          <md-nav-item md-nav-click="ctrl.logout()" name="logout" right>
          	Logout
      	  </md-nav-item>
      
    	</md-nav-bar>
    
		<div layout="row">
    		<div flex="20">
    		
    		<md-list flex ng-show="currentNavItem=='report'">
        		<md-subheader class="md-no-sticky"></md-subheader>
        		<md-list-item  ng-click="null">
          			Reports
        		</md-list-item>
        		<md-list-item  ng-click="null">
          			Create Report
        		</md-list-item>
        	</md-list>
      
    		
    		</div>
    		<div flex="5"></div>
    		<div flex="70">
				<div ng-view></div>
			</div>
			<div flex hide-sm hide-xs></div>
    	</div>

	    <!-- bower:js -->
		<!-- endinject -->
		<!-- inject:js -->
		<!-- endinject -->
	 

	</body>

</html>