
<div layout="row" layout-align="center center">
<md-content layout-gt-sm="row" layout-padding="">
  <div>
    <md-input-container>
      <label>Username</label>
      <input ng-model="vm.user.username">
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input ng-model="vm.user.password" type="password">
    </md-input-container>
    <br>
    <p ng-show="vm.loginError.show">{{vm.loginError.message}}</p>
  </div>
</md-content>
<md-button class="md-raised" ng-click="vm.login(vm.user)" >Login</md-button>
</div>