<h1>Proposals for Buildings you manage</h1>
 <div layout="row">
  <md-input-container flex="100">
    <label>Proposal Status</label>
    <md-select name="type" ng-model="vm.proposalStatus" ng-change="vm.getProposals(vm.username, vm.proposalStatus)" required>
      <md-option value="OPEN">OPEN</md-option>
      <md-option value="ACCEPTED">ACCEPTED</md-option>
      <md-option value="REJECTED">REJECTED</md-option>
    </md-select>
  </md-input-container>
 </div>
<md-content class="md-padding" layout="row" layout-wrap>
  <md-card ng-repeat="p in vm.proposals">
    <md-card-content layout="row" layout-align="space-between">
      <div>
	    <span class="md-headline">proposal: {{p.id}}</span><br> 
	    <span class="md-subhead">Content: {{p.content}}</span><br> 
	    <span class="md-subhead">Suggested at: {{vm.parseDateTime(p.suggestedAt)}}</span><br>
	    <span class="md-subhead">Building: {{p.building.id}} at address: {{p.building.address}},
				{{p.building.city}}, {{p.building.country}}</span><br>
	    <span class="md-headline">Status: <span ng-style="p.status === 'REJECTED' && {'color': 'red'} || 
		                      							p.status === 'OPEN' && {'color': 'orange'} ||
		                      							p.status === 'ACCEPTED' && {'color': 'green'}">
								{{p.status}}</span>
	    </span><br>
	  </div>
	  <md-card-actions layout="column">
        <md-button ng-click="vm.proposalUpvote(p.id)" ng-style="{'color': 'white', 'background-color': 'green'}" class="md-icon-button">
        	<md-icon>&#x25B2;</md-icon>
        </md-button>
        <md-button ng-disabled="true" class="md-icon-button">
        	<md-icon><font size="4">{{p.votes}}</font></md-icon>
       	</md-button>
		<md-button ng-click="vm.proposalDownvote(p.id)" ng-style="{'color': 'black', 'background-color': 'red'}" class="md-icon-button">
			<md-icon>&#x25BC;</md-icon>
		</md-button>
        
      </md-card-actions>
    </md-card-content>
    <md-card-footer>
    	<md-button ng-click="vm.acceptProposal(p.id)" class="md-raised md-primary">Accept</md-button>
    	<md-button ng-click="vm.rejectProposal(p.id)" class="md-raised md-warn">Reject</md-button>
    </md-card-footer>
  </md-card>
</md-content>
