<h1>Create Proposal</h1>
<form name="createProposalForm" ng-submit="vm.createProposal()">
	<div layout="row">
	    <md-input-container flex="100">
	      <label>Building</label>
	      <md-select name="type" ng-model="vm.buildingId" ng-change = "vm.getReports(vm.buildingId)" required>
	        <md-option ng-repeat="building in vm.buildings" value="{{building.id}}">{{building.address}} - {{building.city}}</md-option>
	      </md-select>
	    </md-input-container>
	</div>
	<div layout="row">
      <md-input-container flex="100">
        <label>Report</label>
        <md-select name="type" ng-model="vm.reportId">
          <md-option ng-repeat="report in vm.reports" value="{{report.id}}">{{report.id}} - {{report.description}}</md-option>
        </md-select>
      </md-input-container>
  </div>
  <div layout="row">
    <md-input-container flex>
      <label>Proposal Text</label>
      <input name="createProposalForm.content" ng-model="vm.content" required>
      <div ng-messages="createProposalForm.content.$error">
         <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
  </div>
	<md-button class="md-raised" type="submit" ng-disabled="createProposalForm.$invalid">CREATE</md-button>
</form>

